@tailwind base;
@tailwind utilities;
@tailwind components;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  /* -webkit-box-shadow: 0 0 0 30px rgb(32 32 36 / var(--tw-bg-opacity)) inset;
  -webkit-text-fill-color: rgb(225 225 230 / var(--tw-text-opacity)); */
  transition: all 5000s ease-in-out 0s;
}
